
PingPong/.vs/PingPong/v16/.suo
PingPong/.vs/PingPong/DesignTimeBuild/.dtbcache
PingPong/.vs/PingPong/v16/Server/sqlite3/db.lock
PingPong/.vs/PingPong/v16/Server/sqlite3/storage.ide
PingPong/.vs/PingPong/v16/Server/sqlite3/storage.ide-shm
PingPong/.vs/PingPong/v16/Server/sqlite3/storage.ide-wal
